

body {
    font-family: Italic;
    margin: 0;
    background-color: rgba(84, 218, 228, 0.74);
    padding: 0;
    color: rgba(8, 8, 8, 0.932)
        
    
}

header {
    background-color: #ee8e11ea;
    color: #69f3ecbe;
    padding: 10px 0;
    text-align: center;
    font: italic;
}

nav ul {
    list-style: black;
    padding: 0;
}

nav ul li {
    background-color: aqua;
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #141010;
    text-decoration: none;
}

.welcome {
    text-align: center;
    padding: 50px 0;
    background-color: #5de6df;
}

.carousel {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.carousel-item {
    margin: 0 10px;
    text-align: center;
}

.carousel-item img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}



.destinations {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
    background-color: #20ecd1;
}

.destination {
    margin: 10px;
    text-align: center;
}

.destination img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    font-display:black
}

footer {
    background-color: #e4780bfa;
    color: #021310;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
